.dataRecordBox {
  padding: 0 10px;
}
.dataPanel {
  min-height: 250px;
  margin-top: 10px;
  border-radius: 4px;
}
.listBlock {
  margin-top: 10px;
}
.listBlock p {
  font-size: 10px;
  color: red;
}
.listSpan {
  font-size: 12px;
  font-weight: bold;
  display: block;
}
.titleInput{
  width: 80%;
  display: block;
  margin:3px 0;
}
.buttonStyle {
  background: brown;
  border: none;
  margin-top: 20px;
}