.carouselImgContainer{
    width: 100%;
}
.carouselImgContainer img{
    width: 100%;
    height: 200px;

}

.carouselImgContainer p{
    position: absolute;
    top: 20px;
    color: #fff;
    right: 20px;
    cursor: pointer;
}