.carouselImgContainer{
    width: 100%;
    height: 50px;
    position: relative;
    background: #fff;
}

.carouselImgContainer h3{
    line-height: 50px;
    font-size: 15px;
    margin-left: 10px;
}
.homeBtn {
    position: absolute;
    bottom: 10px;
    right: 10px;
}