.LoopImgBox {
  text-align: center;
  border-top: 1px solid #eee;
}
.LoopImgBox img{
  width: 50%;
  height: 450px;
}
.container{
  display: flex;
  flex-direction: row;
  background: #eee;
  padding: 70px 100px;
}
.commonBlock {
  width: 300px;
}
.commonBlock img{
  width: 200px;
  padding: 8px;
  background: #fff;
}
