.dataPanel {
  border: 1px solid #eee;
  min-height: 400px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 4px;
}
.listRow {
  padding: 10px;
  font-size: 12px;
}
.deleteBtn {
  float: right;
  cursor: pointer;
  border: 1px solid #fff;
  font-size: 9px;
  padding: 2px 5px;
}

/* 奇数行  */
.dataPanel div:nth-of-type(odd){ background: #404040; color: #fff} 
/* 偶数行  */
.dataPanel div:nth-of-type(even){ background: #eee }
