.dataRecordBox {
  padding: 0 10px;
}
.dataPanel {
  margin-top: 10px;
  border-radius: 4px;
}
.subTitle {
  font-weight: bold;
}
.listRow {
  padding: 10px;
  font-size: 12px;
}
.deleteBtn {
  float: right;
  cursor: pointer;
  border: 1px solid #fff;
  font-size: 9px;
  padding: 2px 5px;
}

/* 奇数行  */
.dataPanel .listRow:nth-of-type(odd){ background: #404040; color: #fff} 
/* 偶数行  */
.dataPanel .listRow:nth-of-type(even){ background: #eee }
